docs/_build/
docs/.vscode/
tutorial/01.ChIP-seq_human/Churros_result/
tutorial/01.ChIP-seq_human/Referencedata_hg38/
tutorial/01.ChIP-seq_human/bwa-mem2.log
tutorial/01.ChIP-seq_human/fastq/
tutorial/01.ChIP-seq_human/log/
tutorial/02.ChIP-seq_yeast/Churros_result/
tutorial/02.ChIP-seq_yeast/Churros_result_1.2.2/
tutorial/02.ChIP-seq_yeast/Churros_result_1.3.0/
tutorial/02.ChIP-seq_yeast/Churros_result_1.4.1/
tutorial/02.ChIP-seq_yeast/Churros_result_1.5.0/
tutorial/02.ChIP-seq_yeast/Referencedata_sacCer3/
tutorial/02.ChIP-seq_yeast/churros.QCstats.tsv
tutorial/02.ChIP-seq_yeast/fastq/
tutorial/02.ChIP-seq_yeast/log/
tutorial/03.ChIP-seq_fromBAM/Churros_result/
tutorial/03.ChIP-seq_fromBAM/bam/
tutorial/04.Spikein_ChIP-seq/Churros_result/
tutorial/04.Spikein_ChIP-seq/Referencedata_dm6/
tutorial/04.Spikein_ChIP-seq/Referencedata_hg38/
tutorial/04.Spikein_ChIP-seq/fastq/
tutorial/04.Spikein_ChIP-seq/log/
tutorial/04.Spikein_ChIP-seq/profile/
tutorial/05.DNAmethylation/Referencedata_hg38/
tutorial/05.DNAmethylation/fastq/
tutorial/05.DNAmethylation/log/
tutorial/01.ChIP-seq_human/Churros_result.v1.5.1/
tutorial/01.ChIP-seq_human/Churros_result_v1.5.0/
tutorial/05.DNAmethylation/methylKit/
tutorial/04.Spikein_ChIP-seq/Churros_result_Quickstart/
tutorial/05.DNAmethylation/Bismarkdir/
tutorial/05.DNAmethylation/SRR1609039_CpG.txt
tutorial/05.DNAmethylation/SRR1609039_CpG_conversionStats.txt
tutorial/05.DNAmethylation/SRR1609040_CpG.txt
tutorial/05.DNAmethylation/SRR1609040_CpG_conversionStats.txt
tutorial/05.DNAmethylation/bismark_summary_report.html
tutorial/05.DNAmethylation/bismark_summary_report.txt
tutorial/05.DNAmethylation/multiqc_data/
tutorial/05.DNAmethylation/multiqc_report.html
tutorial/07.ATAC-seq/Referencedata_hg38/
tutorial/07.ATAC-seq/Churros_result/
tutorial/07.ATAC-seq/fastq/
tutorial/07.ATAC-seq/log/
tutorial/08.CUTandTAG/log/
tutorial/08.CUTandTAG/Referencedata_hg38/
tutorial/08.CUTandTAG/fastq/
tutorial/08.CUTandTAG/Churros_result/
tutorial/01.ChIP-seq_human/Churros_result_noinput/
tutorial/06.peakheatmap/archive/

tutorial/archive/
Dockerfiles/log/
Dockerfiles/testrun.log
Dockerfiles/ROSE_old/