docs/_build/
docs/.vscode/
tutorial/human/Churros_result/
tutorial/human/Referencedata_hg38/
tutorial/mouse/Churros_result/
tutorial/mouse/Referencedata_mm10/
tutorial/yeast/Churros_result/
tutorial/yeast/Referencedata_sacCer3/
Dockerfiles/log/
Dockerfiles/testrun.log
tutorial/human/churros.QCstats.tsv
tutorial/human/fastq/
tutorial/human/log/
tutorial/mouse/churros.QCstats.tsv
tutorial/mouse/fastq/
tutorial/mouse/log/
tutorial/yeast/churros.QCstats.tsv
tutorial/yeast/fastq/
tutorial/yeast/log/
Dockerfiles/ROSE_old/
tutorial/classheat/
tutorial/DNAmethylation/Bismarkdir/
tutorial/DNAmethylation/Referencedata_hg38/
tutorial/DNAmethylation/abismal_index/
tutorial/DNAmethylation/fastq/
tutorial/DNAmethylation/log/
tutorial/DNAmethylation/methylKit/
